{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>


    <div class="five ui buttons">
        <button class="ui button" id="inbox">Inbox</button>
        <button class="ui button"id="compose">Compose</button>
        <button class="ui button" id="sent">Sent</button>
        <button class="ui button" id="archived">Archived</button>
        <a class="ui red button" href="{% url 'logout' %}">Log Out</a>
    </div>

    <div class="ui divider"></div>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h2 class="ui header">Compose</h2>          
        <form class="ui form" id="compose-form">
            <div class="field">
                <label>From:</label>
                <input readonly="" value="{{ request.user.email }}">
            </div>              
            <div class="field">
                <label>To:</label>
                <input id="compose-recipients">
            </div>           
            <div class="field">
                <label>Subject:</label>
                <input id="compose-subject">
            </div>            
            <div class="field">
                <label>Body:</label>
                <textarea id="compose-body"></textarea>
            </div>           
            <button class="ui primary button" type="submit">Submit</button>
        </form>              
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}