{% extends "mail/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


<form class="ui form" action="{% url 'login' %}" method="post">
    {% csrf_token %} 
    <div class="two fields">
        <div class="field">
            <label>Email</label>
            <input type="email" name="email">
        </div>      
        <div class="field">
            <label>Password</label>
            <input type="password" name="password">
        </div>      
    </div>
    <button class="ui primary button" type="submit" value="Login">Submit</button>
</form>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}