{% extends "mail/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

 <form class="ui form" action="{% url 'register' %}" method="post">
    {% csrf_token %} 
    <div class="three fields">
        <div class="field">
            <label>Email Address</label>
            <input type="email" name="email">
        </div>      
        <div class="field">
            <label>Password</label>
            <input type="password" name="password">
        </div>      
        <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="confirmation">
        </div>  
    </div>
    <button class="ui primary button" type="submit" value="Register">Submit</button>
</form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}